<div class="login-page">
    <div class="form">
        <h4 style="color: red;">login page</h4>
        <form class="login-form" [formGroup]="login">
            <input formControlName="username" type="text" placeholder="username" />
            <span  *ngIf="login.controls['username'].hasError('required') && login.controls['username'].touched">username is required</span>
            <!-- <span *ngIf="login.controls['email'].hasError('email')">Please enter a valid email</span> -->
            <input  formControlName="password" type="password" placeholder="password" />
            <span *ngIf="login.controls['password'].hasError('required') && login.controls['password'].touched">Password is required</span>
        </form>
        <button type="button" class="btn btn-primary" (click)="Submit()"  >submit</button>
    </div>
</div>
<!-- [disabled]='login.invalid' -->
