
   <div class="heading">
      <h1 style="text-align: center; color: red;">User-Details</h1>
    </div> 
 <table mat-table [dataSource]="allData" class="mat-elevation-z8">
      <ng-container *ngFor="let column of displayedColumns">
        <ng-container [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
          <td mat-cell *matCellDef="let allData; let i = index">
            <ng-container *ngIf="editingIndex !== i; else editMode;">
              {{ allData[column]}}
              <button  style='margin-right:16px' *ngIf="column=='action'" mat-raised-button   color="warn" focusable="false" (click)="edit(i)">
               <i class="fa fa-times mat-icon"></i>Edit
               </button> 
               <button style='margin-right:16px' *ngIf="column=='action'" mat-raised-button   color="primary" focusable="false" (click)="delete(i)">
                <mat-icon>delete</mat-icon>
                  </button> 
            </ng-container>
            <ng-template #editMode>
                <mat-form-field appearance="outline" *ngIf="column!=='action'" class="example-full-width">
                  <input    matInput   type="text" [(ngModel)]="editedData[column]" />
                </mat-form-field>
              
              <button style='margin-right:16px' mat-raised-button *ngIf="column=='action'" color="warn"  (click)="cancel(i)">
                <i class="fa fa-times mat-icon"></i>Cancel 
              </button>
              <button style='margin-right:16px' mat-raised-button *ngIf="column=='action'" color="primary"  (click)="saveEdit(i)">
                <i class="fa fa-times mat-icon"></i>Save 
              </button>
            </ng-template>
          </td>
        </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
