<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter data">
</mat-form-field>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab"  role="tab" aria-controls="nav-home" aria-selected="false" routerLink="/list">User-Request</a>
    <a class="nav-item nav-link action" style="background-color: aqua;" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true" routerLink="/user">User-list</a>
  </div>
</nav>

<table mat-table matSort [dataSource]="allData" class="mat-elevation-z8" 
>
  <ng-container *ngFor="let column of displayedColumns">
    <ng-container [matColumnDef]="column">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | titlecase }}</th>
      <td  mat-cell *matCellDef="let allData; let i = index">
        <ng-container *ngIf="editingIndex !== i; else editMode; ">
       {{  allData[column] }} 
          <button *ngIf="column=='action'" mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary"
            (click)="edit(i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button *ngIf="column=='action'" mat-icon-button matTooltip="Click to Delete" class="iconbutton"
            (click)="delete(i)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
        <ng-template #editMode>
          <mat-form-field appearance="outline" *ngIf="column!=='action'">
            <input  matInput type="text"  [(ngModel)]="editedData[column]" />
          </mat-form-field>
          <button style='margin-right:125px' *ngIf="column=='action'" mat-icon-button matTooltip="Click to Delete"
            class="iconbutton" (click)="cancel(i)" color="warn">
            <mat-icon>clear</mat-icon>
          </button>
          <button style='position: relative;
              margin-right: 313px' *ngIf="column=='action'" mat-icon-button matTooltip="Click to Delete"
            class="iconbutton" (click)="saveEdit(i)" color="warn">
            <mat-icon>done</mat-icon>
          </button>
        </ng-template>

      </td>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          No data matching the filter.
        </td>
      </tr>
    </ng-container>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="pagination" style="margin-left: 517px;
position: relative;
top: 23px;
">
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>