<div class="close" (click)="$event.stopPropagation()">
    <mat-dialog-actions style="margin-left: 330px;">
        <mat-icon  mat-dialog-close>close</mat-icon>
    </mat-dialog-actions>
</div>
<div class="login-page">
    <div class="form">
        <h4 style="color: red;">Reset Passowrd</h4>
        <form class="login-form" [formGroup]="reset">
            <div class="password-container">
                <input   [type]="hide2 ? 'password' : 'text'" formControlName="oldPassword" placeholder="Enter your old password" type="password">
                <i class="fa" [ngClass]="{'fa-eye': !hide2, 'fa-eye-slash': hide2}" (click)="hidedata2()"></i>
            </div>

            <!-- <input formControlName="oldPassword" placeholder="Enter your old password" type="password"> -->
            <div class="password-container">

                <input type="password" placeholder="Enter your new  Password" formControlName="password"
                    [type]="hide ? 'password' : 'text'">
                 <i class="fa" [ngClass]="{'fa-eye': !hide, 'fa-eye-slash': hide}" (click)="toggleVisibility()"></i>
               
            </div>
            <span style="font-size: 12px" *ngIf="reset.controls['password'].hasError('required') && reset.controls['password'].touched">Enter
                your password</span>
            <span style="font-size: 12px" *ngIf="reset.controls['password'].hasError('pattern')">Password must contain at least one number, one
                uppercase and a lowercase letter and at least
            </span>
            <span style="font-size: 12px" *ngIf="reset.controls['password'].hasError('minlength')">
                Password must be at least 6 characters long.
            </span>
            <span style="font-size: 12px"  *ngIf="reset.controls['password'].hasError('maxlength')">
                Password cannot be longer than 30 characters.</span>
            <input type="confirmPassword" placeholder="Confirm your password" formControlName="confirmPassword"
                [type]="hidedata ? 'password' : 'text'">
             <i (click)="nextbutton()" class="fa" [ngClass]="{'fa-eye': !hidedata, 'fa-eye-slash': hidedata}"></i>
            <span style="font-size: 12px" *ngIf="reset.controls['confirmPassword'].hasError('required') && reset.controls['confirmPassword'].touched">confirm
                your password</span>
            <span style="font-size: 12px;" *ngIf="reset.hasError('mismatch') && reset.controls['confirmPassword'].touched">Passsword and Confirm
                Password didn't match. </span>
        </form>
        <div class="data" style="    margin: -22px;
    margin-left: -34px">
    
            <button type="button" class="btn btn-primary" (click)="resetPassword()">Reset Password</button>
        </div>

    </div>
</div>