<!-- <div class="b" style="text-align: center; margin-right: -1115px; margin-top: 28px;">
    <button mat-raised-button color="primary" focusable="false" (click)="logout()">
        <i class="fa fa-times mat-icon"></i>logout
    </button>
</div> -->


<div class="login-page">
    <div class="form">
        <h4 style="color: red;">Reset Passowrd</h4>
        <form class="login-form" [formGroup]="reset">
            <div class="password-container">
                <!-- <input type="password" placeholder="Enter Password" formControlName="password" [type]="hide ? 'password' : 'text'"> -->
                <input type="password" placeholder="Enter Password" formControlName="password" [type]="hide ? 'password' : 'text'">
                <!-- <button (click)="toggleVisibility()"> -->
                  <i class="fa" [ngClass]="{'fa-eye': !hide, 'fa-eye-slash': hide}" (click)="toggleVisibility()"></i>
                <!-- </button> -->
              </div>
            <!-- <input type="password" placeholder="Enter Password" formControlName="password"
                [type]="hide ? 'password' : 'text'">
         
                <i     id="s" (click)="toggleVisibility()" class="fa" [ngClass]="{'fa-eye': hide, 'fa-eye-slash': !hide}"></i> -->
           
            <!-- <span *ngIf="reset.controls['Password'].hasError('required') && reset.controls['Password'].touched">Password is required</span> -->
            <span *ngIf="reset.controls['password'].hasError('required') && reset.controls['password'].touched">Enter your password</span>
            <span *ngIf="reset.controls['password'].hasError('pattern')">Password must contain at least one number, one uppercase and a lowercase letter and at least
            </span>
            <span *ngIf="reset.controls['password'].hasError('minlength')">
                Password must be at least 6 characters long.
            </span>
            <span *ngIf="reset.controls['password'].hasError('maxlength')">
                Password cannot be longer than 30 characters.</span>


            <input type="confirmPassword" placeholder="Confirm your password" formControlName="password"
                [type]="data ? 'password' : 'text'">
                <i  (click)="nextbutton()" class="fa" [ngClass]="{'fa-eye': !data, 'fa-eye-slash': data}"></i>
            <span
                *ngIf="reset.controls['confirmPassword'].hasError('required') && reset.controls['confirmPassword'].touched">confirm
                your password</span>
            <span *ngIf="reset.hasError('mismatch') && reset.controls['confirmPassword'].touched">Passsword and Confirm
                Password didn't match. </span>
        </form>
    <div class="data" style="    margin: 54px;
    margin-left: -128px;">
            <button  
            type="button" class="btn btn-primary" (click)="resetPassword()">Reset Password</button>
        </div> 

    </div>
</div>