<div class="login-page">
    <div class="form">
        <h4 style="color: red;">Email Verfication</h4>
        <form class="login-form" [formGroup]="forgot">
    
            <input formControlName="username" type="text" placeholder="Email" />
            <span *ngIf="forgot.controls['username'].hasError('required') && forgot.controls['username'].touched">Email
                is required</span>
            <span *ngIf="forgot.controls['username'].hasError('email')">Please enter a valid email</span>
        </form>
        <button  
        type="button" class="btn btn-primary" (click)="forgotPassword()">Submit</button>
    </div>
