
<div class="close" (click)="$event.stopPropagation()">
    <mat-dialog-actions style="margin-left: 330px;">
        <mat-icon  mat-dialog-close>close</mat-icon>
    </mat-dialog-actions>
</div>
<div  class="login-page">
    <div (click)="$event.stopPropagation()" class="form" style="margin-top: -25px;
    top: -12px;margin-left: -117px;">
        <h5>Add-User</h5>
        <form (click)="$event.stopPropagation()" [formGroup]="sign">
            <input formControlName="fullname" type="text" placeholder="enter your full name">
            <span *ngIf="sign.controls['fullname'].hasError('required') && sign.controls['fullname'].touched">Enter your
                fullname</span>
            <input formControlName="username" type="text" placeholder="enter your username">
            <span *ngIf="sign.controls['username'].hasError('required') && sign.controls['username'].touched">Enter your
                username</span>
            <span *ngIf="sign.controls['username'].hasError('email')">Please enter a valid email</span>
            <input formControlName="password" type="text" placeholder="enter your password">
            <span *ngIf="sign.controls['password'].hasError('required') && sign.controls['password'].touched">Enter your
                password</span>
            <span *ngIf="sign.controls['password'].hasError('pattern')">
                Password must contain at least one number, one uppercase and a lowercase letter
                and at least
            </span>
            <span *ngIf="sign.controls['password'].hasError('minlength')">
                Password must be at least 6 characters long.
            </span>
            <span *ngIf="sign.controls['password'].hasError('maxlength')">
                Password cannot be longer than 30 characters.</span>
        </form>
    <button  
      type="button"  [disabled]='sign.invalid' class="btn btn-primary" (click)="Submit()">Submit</button>
    </div>
