
<div class="button">
  <button routerLink="/home" type="submit" color="warn" mat-raised-button  >Back</button>
</div>


    <form class="row g-3" [formGroup]="sign" style="position: absolute;
    margin-top: 27px">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Name</label>
          <input formControlName="fullname" type="tex" class="form-control" id="inputEmail4" placeholder="Enter your full name">
          <span *ngIf="sign.controls['fullname'].hasError('required') && sign.controls['fullname'].touched">Enter your
            fullname</span>
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Email</label>
          <input formControlName="username" type="text" class="form-control" id="inputPassword4" placeholder="Enter your username">
          <span *ngIf="sign.controls['username'].hasError('required') && sign.controls['username'].touched">Enter your
            username</span>
            <span *ngIf="sign.controls['username'].hasError('email')">Please enter a valid email</span>
        </div>
        <div class="col-6">
          <label for="inputAddress2" class="form-label">Password</label>
          <input  formControlName="password" type="password" class="form-control" id="inputAddress2" placeholder="Please enter your Passowrd">
          <span *ngIf=" sign.controls['password'].hasError('required') && sign.controls['password'].touched">Please enter your Password</span>
          <span *ngIf="sign.controls['password'].hasError('pattern')">
            Password must contain at least one number, one uppercase and a lowercase letter
            and at least
        </span>
        <span *ngIf="sign.controls['password'].hasError('minlength')">
            Password must be at least 6 characters long.
        </span>
        <span *ngIf="sign.controls['password'].hasError('maxlength')">
            Password cannot be longer than 30 characters.</span>
        </div>
        <div class="col-md-6">
          <label  for="inputCity" class="form-label">Phonenumber</label>
          <input  (keypress)="numbers($event)"  formControlName="Phonenumber" type="text" class="form-control" id="inputCity" placeholder="Enter your number ">
          <span *ngIf=" sign.controls['Phonenumber'].hasError('required') && sign.controls['Phonenumber'].touched">Please enter number</span>
          <span *ngIf=" sign.controls['Phonenumber'].hasError('maxlength')">Enter ten digit number only</span>
          
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">Role</label>
          <select id="inputState" formControlName="dropdown" class="form-select">
            <option selected>Choose...</option>
            <option value="admin">Admin</option>
            <option value="user">user</option>
          </select>
          <span *ngIf="sign.controls['dropdown'].hasError('required') && sign.controls['dropdown'].touched">Please select a role</span>
        </div>
    
   
        <div class="col-12">
          <button (click)="Submit()" type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>