<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light" style="background-color: #e3f2fd;">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <div class="active">
                            <a href="#" class="nav-link align-middle px-0">
                                <mat-icon>account_box</mat-icon>
                                <i class="fs-4 bi-house"></i> <span style="position: absolute;
                            top: 97px;" class="ms-1 d-none d-sm-inline" (click)="naviagte()"
                                 >Users</span>
                            </a>
                        </div>
                    </li>
                    <li>
                </ul>
                <hr>
            </div>
        </div>
    </div>