<div class="container-fluid">
    <div class="row">
        <div class="col-auto bg-light sidebar">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <!-- <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                </a> -->
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <div *ngIf="isAdminOrSuperAdmin">
                            <a routerLinkActive="active" routerLink="/home" class="nav-link align-middle px-0">
                                <mat-icon>account_box</mat-icon>
                                <span class="ms-1 d-none d-sm-inline" (click)="naviagte()">Users</span>
                            </a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a routerLink="/editor" class="nav-link align-middle px-0" routerLinkActive="active">
                            <mat-icon>reviews</mat-icon> <span (click)="codenavigate()">Code Rewiew</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>